@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";
@variant dark (&:where([data-theme="dark"] *));

@theme {
    /* Base Colors */
    --color-black: #0f131a;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    /* Components Colors */
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    /* Border & Input Colors */
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    /* Chart Colors */
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    /* Sidebar Colors */
    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* Status colors */
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
    --color-error: var(--error);
    --color-error-foreground: var(--error-foreground);

    /* Border Radius */
    --radius: 0.6rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    --spacing: 0.25rem;

    /* Sidebar Width */
    --sidebar-width: 16rem;
    --sidebar-width-mobile: 18rem;
    --sidebar-width-icon: 3rem;

    /* Typography */
    --font-sans: "Inter Variable", Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
        sans-serif;
    --font-mono: "JetBrains Mono Variable", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
        Consolas, "DejaVu Sans Mono", monospace;

    /* Animation */
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            opacity: 0.01;
            height: 0;
        }
        to {
            opacity: 1;
            height: var(--height);
        }
    }

    @keyframes accordion-up {
        from {
            opacity: 1;
            height: var(--height);
        }
        to {
            opacity: 0.01;
            height: 0;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }
    html,
    body {
        @apply antialiased min-h-screen scroll-smooth;
    }
    body {
        @apply bg-background text-foreground font-sans;
    }
}

/* Debug element */
@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}
