/public/build
/build
/dist
.cache
.DS_Store
.DS_Store?
.dockerignore
.sentryclirc
Dockerfile
node_modules
npm-debug.log
slim.report.json
.playwright/
.git
.gitignore
*.sqlite*
*.sqlite3*
*.libsql*
*.db
*.log
*.md
.env*
