/node_modules
/.fleet
/.pnp
.pnp.js
.DS_Store
.DS_Store?
/coverage
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

/.cache
/public/build
/build
/tmp

.env.*
!.env.example

/prisma/data.db
/prisma/data.db-journal
/app/styles/tailwind.css

# Disable this line in your real app
/tests-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests-e2e/.results/

*storybook.log
/storybook-static/
