/node_modules
/.vscode
/.fleet
/.pnp
.pnp.js
.DS_Store
.DS_Store?
/coverage
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

/.cache
/public/build
/build
/tmp

.env.*
!.env.example

/prisma/data.db
/prisma/data.db-journal
/app/styles/tailwind.css

# Disable this line in your real app
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
