@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-motion";
@variant dark (&:where([data-theme="dark"] *));

@theme {
    /* Brand Colors */
    --color-brand-50: #edf9ff;
    --color-brand-100: #d6f0ff;
    --color-brand-200: #b6e7ff;
    --color-brand-300: #83daff;
    --color-brand-400: #49c3ff;
    --color-brand-500: #1fa2ff;
    --color-brand-600: #0783ff;
    --color-brand-700: #0166e8;
    --color-brand-800: #0855c5;
    --color-brand-900: #0e4b9a;
    --color-brand-950: #0e2e5d;

    /* Base Colors */
    --color-black: #000d1a;

    /* Typography */
    --font-sans: "Inter Variable", Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
        sans-serif;
    --font-mono: "JetBrains Mono Variable", ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
        Consolas, "DejaVu Sans Mono", monospace;
}

@layer base {
    html,
    body {
        @apply antialiased min-h-screen scroll-smooth;
    }
    body {
        @apply font-sans;
    }
}

/* Debug element */
@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}
